<h1 class="page-header">Dashboard</h1>

<div class="row">

			<div id="control_panel" class="col-md-3">

				<div class="field">
			   	<%= label_tag :veiculo %><br>
			   	<%= collection_select :veiculo, :veiculo_id, Veiculo.all, :id, :marca %>

			  </div>
			 <div class="field">
			   <%= label_tag :viagem %><br>
			   <%= collection_select :viagem, :viagem_id, Viagem.all, :id, :nome   %>
			 </div>


			<div id="directions_panel" ></div>
			</div>


			<div id="map-canvas" style="height:500px;" class="col-md-9"></div>

</div>
