<div id="map-canvas" style="float:left;width:70%;height:100%;"></div>
<div id="control_panel" style="float:right;width:30%;text-align:left;padding-top:20px">

 <div class="field">
   <%= label_tag :veiculo %><br>
   <%= collection_select :veiculo, :veiculo_id, Veiculo.all, :id, :marca %>
 </div>
  <div class="field">
   <%= label_tag :viagem %><br>
   <select id="viagem">
   </select>
 </div>

</div>
<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>
